<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ponto de Descarte</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
 <header>
            <div class="caixa">
				<h1><img src="../static/img/brasao.jpeg"></h1>
                <nav>
					<ul>
						<li><a href="/">Início</a></li>
						<li><a href="/add">Cadastrar</a></li>
						<li><a href="/contato">Contato</a></li>
					</ul>
				</nav>
			</div>
		</header>
<main>
    <h1 style="text-align: center;">Local de descarte</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <a href="/add">Adicionar local de descarte</a>
            </div>
            <div class="col-xs-12">
                <table class="table">
                <thead>
                <tr>
                    <th>nome</th>
                    <th>endereço</th>
                    <th>número</th>
                    <th>bairro</th>
                    <th>ecoponto</th>
                    <th>item</th>
                    <th>quantidade</th>
                </tr>
                </thead>
                <tbody>
                {% for d in descartes %}
                <tr>
                    <td>{{d.nome}}</td>
                    <td>{{d.endereco}}</td>
                    <td>{{d.numero}}</td>
                    <td>{{d.bairro}}</td>
                    <td>{{d.ecoponto}}</td>
                    <td>{{d.item}}</td>
                    <td>{{d.quantidade}}</td>
                    <td>
                        <a href="/edit/{{d.id}}">Editar</a> |
                        <a href="/delete/{{d.id}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
    </div>
</div>
</mains>
    <footer>        
		<p class="copyright">© 2021 Todos Direitos Reservados:
		<a class="text-white" href="https://univesp.br"> Universidade Virtual do Estado de São Paulo</a></p>
	</footer>
</body>
</html>
